pipeline/i_orchestrator_main_1h.json
{
	"name": "i_orchestrator_main_1h",
	"properties": {
		"activities": [
			{
				"name": "ambev_produto",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration produto"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ambev_produto_pdv",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration produto_pdv"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ambev_produto_estoque",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration produto_estoque"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ambev_pdv",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration pdv"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ambev_condicao_pagto",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration condicao_pagto"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ambev_cdd",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration cdd"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ambev_sending_estoque_ghub",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ambev_cdd",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_produto_estoque",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_estoque_sending_ghub"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "List unb Geo_MG",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ambev_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_produto_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_cdd",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split('45,186,189,322,820,835,845,986,88,95,374,438,541,576,906,723,326',',')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ambev_sending_price_ghub Geo_MG",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pricing_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ambev_sending_pdv_ghub Geo_MG",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pdv_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "List unb Geo_SP",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ambev_cdd",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_produto_pdv",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split('137,297,301,303,578,966,968,970,771,764,204,372,379,216,230,214,231,242,401,469',',')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ambev_sending_price_ghub Geo_SP",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Wait 10s",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pricing_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ambev_sending_pdv_ghub Geo_SP",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Wait 10s",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pdv_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Wait 10s",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					]
				}
			},
			{
				"name": "List unb Geo_CO",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ambev_produto_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_cdd",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split('77,572,942,849,435,448,191,783,829,465,111,39,354,453,454,455,710,732,761',',')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ambev_sending_price_ghub Geo_CO",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Wait 20s",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pricing_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ambev_sending_pdv_ghub Geo_CO",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Wait 20s",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pdv_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Wait 20s",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 20
							}
						}
					]
				}
			},
			{
				"name": "List unb Geo_Sul",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ambev_produto_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_cdd",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split('82,190,393,418,926,928,50,54,118,129,366,713',',')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ambev_sending_price_ghub Geo_Sul",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pricing_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ambev_sending_pdv_ghub Geo_Sul",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pdv_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Integration_3p1l"
		},
		"annotations": []
	}
}