pipeline/i_orchestrator_main_1h.json
{
	"name": "i_orchestrator_main_1h",
	"properties": {
		"activities": [
			{
				"name": "ambev_produto",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration produto"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ambev_produto_pdv",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration produto_pdv"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ambev_produto_estoque",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration produto_estoque"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ambev_pdv",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration pdv"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ambev_condicao_pagto",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration condicao_pagto"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ambev_cdd",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration cdd"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ambev_sending_estoque_ghub",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ambev_cdd",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_produto_estoque",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_estoque_sending_ghub"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "List unb Geo_MG",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ambev_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_produto_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_cdd",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split('45,186,189,322,820,835,845,986,88,95,374,438,541,576,906,723,326',',')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ambev_sending_price_ghub Geo_MG",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pricing_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ambev_sending_pdv_ghub Geo_MG",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pdv_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "List unb 2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ambev_cdd",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_produto_pdv",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split('576,575,572,546,543,541,539,538,499,495,469,465,458,457,455,454,453,448,439,438,435,418,401,395,393,389,379,374,372,370,368,366,358,354,352,348,346,329,326,322,303,301,297,295,292',',')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ambev_sending_price_ghub 2",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Wait 10s",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pricing_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ambev_sending_pdv_ghub 2",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Wait 10s",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pdv_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Wait 10s",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					]
				}
			},
			{
				"name": "List unb 3",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ambev_produto_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_cdd",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split('992,986,977,975,973,970,968,966,964,958,956,944,942,940,934,928,926,906,902,849,845,843,835,829,825,820,811,809,783,771,764,763,762,761,732,729,725,724,723,713,710,619,603,598,581,578',',')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ambev_sending_price_ghub 3",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Wait 20s",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pricing_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ambev_sending_pdv_ghub 3",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Wait 20s",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pdv_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Wait 20s",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 20
							}
						}
					]
				}
			},
			{
				"name": "List unb Geo_Sul",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ambev_produto_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_pdv",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ambev_cdd",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split('82,190,393,418,926,928,50,54,118,129,366,713',',')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ambev_sending_price_ghub Geo_Sul",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pricing_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ambev_sending_pdv_ghub Geo_Sul",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pdv_sending_ghub",
								"baseParameters": {
									"unb": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Integration_3p1l"
		},
		"annotations": []
	}
}