pipeline/ingestionIncremental.json
{
	"name": "ingestionIncremental",
	"properties": {
		"activities": [
			{
				"name": "ListTables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split('sales_invoice,sales_invoice_grid,sales_shipment,sales_shipment_grid,sales_creditmemo,sales_creditmemo_grid,sales_order,quote,customer_entity,customer_address_entity,catalog_product_entity',',')",
						"type": "Expression"
					},
					"batchCount": 50,
					"activities": [
						{
							"name": "CopyInc",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "SELECT * FROM @{item()} where updated_at between date_add(current_date(),interval -2 day) and date_add(current_date(),interval 1 day)",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "MySql_Magento2",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "@{item()}"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_parquet",
									"type": "DatasetReference",
									"parameters": {
										"layerName": "menu_raw",
										"sourceName": "magento"
									}
								}
							]
						},
						{
							"name": "exec_notebook-raw_to_kitchen",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "CopyInc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/fabiotuller@outlook.com/prod/raw_to_kitchen/raw_to_kitchen_inc",
								"baseParameters": {
									"on_id": "vazio",
									"source": "magento",
									"table_name": {
										"value": "@{item()}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Magento2/raw_kitchen"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-12T15:16:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}