datafactory-3p1l/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nome do Data Factory",
			"defaultValue": "datafactory-3p1l"
		},
		"auto-trigger-10min_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/2c12d660-e733-48bc-97bd-d8528fdae002/resourceGroups/Eng-Datalake-3P1L/providers/Microsoft.Storage/storageAccounts/datalake3p1lprod"
		},
		"auto-trigger-1h_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/2c12d660-e733-48bc-97bd-d8528fdae002/resourceGroups/Eng-Datalake-3P1L/providers/Microsoft.Storage/storageAccounts/datalake3p1lprod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ingestionFull_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ListTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@split('catalog_product_link_type,catalog_product_link,marketplace_product,catalog_product_entity_tier_price,cataloginventory_stock,catalog_category_product,catalog_category_entity_varchar,catalog_category_entity_text,catalog_category_entity_int,catalog_category_entity_datetime,catalog_category_entity,take_rate_seller_menu,inventory_reservation,sales_order_status,wishlist_item,wishlist,url_rewrite,search_query,salesrule_coupon,salesrule,payment_bank_slip_deadline,menu_supplier_payments,menu_supplier_credit,directory_country_region,customer_group,core_config_data,catalogrule,catalog_product_website,attendance_segments,store_website,store_group,store,merlin_integration_queue_orders,menu_salesman,marketplace_shippinglist,globalhub_distribution_centers,eav_attribute_option_value,eav_attribute_option,eav_attribute,admin_user_tp,admin_user',',')",
								"type": "Expression"
							},
							"batchCount": 50,
							"activities": [
								{
									"name": "CopyFull",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "SELECT * FROM @{item()}",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "MySql_Magento2",
											"type": "DatasetReference",
											"parameters": {
												"tableName": "@{item()}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_parquet",
											"type": "DatasetReference",
											"parameters": {
												"layerName": "menu_raw",
												"sourceName": "magento"
											}
										}
									]
								},
								{
									"name": "exec_notebook-raw_to_kitchen",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "CopyFull",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/fabiotuller@outlook.com/prod/raw_to_kitchen/raw_to_kitchen_full",
										"baseParameters": {
											"on_id": "vazio",
											"source": "magento",
											"table_name": {
												"value": "@{item()}",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"source": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Magento2/raw_kitchen"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-12T15:41:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingestionIncremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ListTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@split('sales_invoice,sales_invoice_grid,sales_shipment,sales_shipment_grid,sales_creditmemo,sales_creditmemo_grid,sales_order,quote,customer_address_entity,catalog_product_entity,customer_entity',',')",
								"type": "Expression"
							},
							"batchCount": 50,
							"activities": [
								{
									"name": "CopyInc",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "SELECT * FROM @{item()} where updated_at between date_add(current_date(),interval -2 day) and date_add(current_date(),interval 1 day)",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "MySql_Magento2",
											"type": "DatasetReference",
											"parameters": {
												"tableName": "@{item()}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_parquet",
											"type": "DatasetReference",
											"parameters": {
												"layerName": "menu_raw",
												"sourceName": "magento"
											}
										}
									]
								},
								{
									"name": "exec_notebook-raw_to_kitchen",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "CopyInc",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/fabiotuller@outlook.com/prod/raw_to_kitchen/raw_to_kitchen_inc",
										"baseParameters": {
											"on_id": "vazio",
											"source": "magento",
											"table_name": {
												"value": "@{item()}",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "Magento2/raw_kitchen"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-12T15:16:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingestion_GHub')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait 1min",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": "SELECT distinct\nid as entity_id, created_date as created_at, updated_date as updated_at, sku, seller_id, list_price, sale_price, promo_price, inventory, status, packing, \nCASE \n\twhen seller_id = 198 then 903266\n\twhen seller_id = 200 then 922788\n\twhen seller_id = 201 then 972636\nend magento_seller_id\nFROM product p where seller_id IN(198,200,201) "
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MySql_GlobalHub",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "product"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_parquet",
								"type": "DatasetReference",
								"parameters": {
									"layerName": "menu_raw",
									"sourceName": "globalhub/product"
								}
							}
						]
					},
					{
						"name": "exec_notebook-raw_to_kitchen",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/fabiotuller@outlook.com/prod/raw_to_kitchen/raw_to_kitchen_full_ghub",
							"baseParameters": {
								"on_id": "vazio",
								"source": "globalhub",
								"table_name": "product"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "run_merge_table_orders_price_stock_integration",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "exec_notebook-raw_to_kitchen",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/fabiotuller@outlook.com/prod/orders_price_stock_integration"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Wait 1min",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 60
						}
					}
				],
				"folder": {
					"name": "Integration_3p1l"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integration_ambev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ambev_produto",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration produto"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ambev_produto_pdv",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration produto_pdv"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ambev_produto_estoque",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration produto_estoque"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ambev_pdv",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration pdv"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ambev_condicao_pagto",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration condicao_pagto"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ambev_cdd",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/integration cdd"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "get_unb_to_send_price",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ambev_produto_pdv",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": {
									"value": "@concat('select * from c where c.datetime between ', replace(concat('\"',getPastTime(10, 'Minute'),'\"'),'T',' '),' and ', replace(concat('\"',getPastTime(0, 'Minute'),'\"'),'T',' '))",
									"type": "Expression"
								},
								"preferredRegions": [],
								"detectDatetime": true
							},
							"dataset": {
								"referenceName": "CosmosDB_integration_3p1l",
								"type": "DatasetReference",
								"parameters": {
									"colection": "ambev_last_produto_pdv"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "get_unb_to_send_pdv",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ambev_pdv",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": {
									"value": "@concat('select * from c where c.datetime between ', replace(concat('\"',getPastTime(10, 'Minute'),'\"'),'T',' '),' and ', replace(concat('\"',getPastTime(0, 'Minute'),'\"'),'T',' '))",
									"type": "Expression"
								},
								"preferredRegions": [],
								"detectDatetime": true
							},
							"dataset": {
								"referenceName": "CosmosDB_integration_3p1l",
								"type": "DatasetReference",
								"parameters": {
									"colection": "ambev_last_pdv"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "get_unb_to_send_estoque",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ambev_produto_estoque",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": {
									"value": "@concat('select * from c where c.datetime between ', replace(concat('\"',getPastTime(10, 'Minute'),'\"'),'T',' '),' and ', replace(concat('\"',getPastTime(0, 'Minute'),'\"'),'T',' '))",
									"type": "Expression"
								},
								"preferredRegions": [],
								"detectDatetime": true
							},
							"dataset": {
								"referenceName": "CosmosDB_integration_3p1l",
								"type": "DatasetReference",
								"parameters": {
									"colection": "ambev_last_estoque"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "List unbs price",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_unb_to_send_price",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_unb_to_send_price').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ambev_sending_price_ghub",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:30:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pricing_sending_ghub",
										"baseParameters": {
											"unb": {
												"value": "@string(item().unb)",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "List unbs stock",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_unb_to_send_estoque",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_unb_to_send_estoque').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ambev_sending_estoque_ghub",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:30:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_estoque_sending_ghub",
										"baseParameters": {
											"unb": {
												"value": "@string(item().unb)",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "List unbs pdv",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_unb_to_send_pdv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_unb_to_send_pdv').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ambev_sending_pdv_ghub",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:30:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_pdv_sending_ghub",
										"baseParameters": {
											"unb": {
												"value": "@string(item().unb)",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "Integration_3p1l/Sellers/Ambev"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/4x dia')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "status_and_notify",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 6,
						"startTime": "2021-06-30T13:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/orchestrator_main_10min')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dt_last_order",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": "select max(updated_at) as dt from sales_order"
							},
							"dataset": {
								"referenceName": "MySql_Magento2",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "sales_order"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "now_minus_30_minutes_greater-order or customer",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "dt_last_order",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greaterOrEquals(activity('dt_last_order').output.value[0].dt,addminutes(utcnow(),-30))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "False",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "True",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								},
								{
									"name": "run_ingestion_full",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "True",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ingestionFull",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"source": "magento"
										}
									}
								},
								{
									"name": "run_serving_customers",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "run_ingestion_full",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "run_ingestion_inc",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "serving_customer",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "run_serving_orders",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "run_ingestion_full",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "run_ingestion_inc",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "serving_orders",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "run_serving_stores",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "run_ingestion_full",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "run_ingestion_inc",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "serving_stores",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "run_serving_sellers",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "run_ingestion_full",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "run_ingestion_inc",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "serving_sellers",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "run_serving_products",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "run_ingestion_inc",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "run_ingestion_full",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "serving_products",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "run_ingestion_inc",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "True",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ingestionIncremental",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "run_LogSystem",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "run_serving_orders",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "run_serving_stores",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "run_serving_sellers",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "run_serving_products",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "run_serving_customers",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "LogSystem",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {}
									}
								}
							]
						}
					},
					{
						"name": "run_ingestion_GHub",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingestion_GHub",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "run_disable_products_without_update_last24h-GIGA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "run_ingestion_GHub",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "disable_products_without_update_last24h-GIGA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-15T16:27:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ingestion_GHub')]",
				"[concat(variables('factoryId'), '/pipelines/ingestionIncremental')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/orchestrator_main_1h')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "run_gsheet_import",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "run_gsheets_import",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "run_ingestion_full_MenuPay",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingestionFull -MenuPay",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"source": "payments"
							}
						}
					},
					{
						"name": "run_get_whatsapp_history",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "whatsapp_history",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "run_customer_cluster",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "magento_customer_cluster",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-13T00:20:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/orchestrator_main_24h')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ambev_sending_product_ghub",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/fabiotuller@outlook.com/prod/ambev/ambev_load_product_sending_ghub"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "run_magento2_ingestionFull24h",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingestionFull_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"source": "magento"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ingestionFull_1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/auto-trigger-10min')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "orchestrator_main_10min",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "i_orchestrator_main_10min",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/trigger-adf/blobs/",
					"blobPathEndsWith": "10min",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('auto-trigger-10min_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/orchestrator_main_10min')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/auto-trigger-1h')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "orchestrator_main_1h",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/trigger-adf/blobs/",
					"blobPathEndsWith": "1h",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('auto-trigger-1h_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/orchestrator_main_1h')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger-24h')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "orchestrator_main_24h",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-05-04T22:00:00",
						"timeZone": "E. South America Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								21
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/orchestrator_main_24h')]"
			]
		}
	]
}